/*Main color*/
$main-bg-color: #ffffff;
$main-color: #383838;

/*Colors for text*/
$title-text-color: #383838;
$main-text-color: #777777;
$additional-text-color: #ffffff;

$button-text-color: #ffffff;

/*Colors for actions*/
$pause: #fcab3d;
$success: #02c875;
$delete: #f63d52;

$pause-active: #fbc170;
$success-active: #34d592;
$delete-active: #ff8391;


/*Main accent colors*/
$accent: #006eff;
$accent-active: #60a2ff;
$accent-disactive: #abc9f3;
